@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'SF UI Text';
  src: local('SF UI Text'), 
       url('/fonts/SF-UI-Text-Regular.woff2') format('woff2'); 
  font-weight: 400;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'SF UI Text', Helvetica, sans-serif;

  /* Esconder scrollbar mas manter scroll funcionando */
  -ms-overflow-style: none;  /* IE e Edge antigo */
  scrollbar-width: none;     /* Firefox */
}

/* Chrome, Safari e Edge */
body::-webkit-scrollbar {
  display: none;
}